<div class="content">
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    
                    <h2 class="card-title">Mapa</h2>
                    
                  </div>
                  
                  
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <div id="map-template">

                  </div>
                  
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- <script>
          Swal.fire({
  title: 'Error!',
  text: 'Do you want to continue',
  icon: 'error',
  confirmButtonText: 'Cool'
})
        </script> -->
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card card-tasks">
              <div class="card-header ">
                <h3 class="title d-inline">Pulsioximetro</h3>
                
              </div>
              <div class="card-body ">
                
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card card-tasks">
              <div class="card-header ">
                <h3 class="title d-inline">Potenciometro</h3>
                
              </div>
              <div class="card-body ">
                
              </div>
            </div>
          </div>

          

        </div>
      </div>