<div class="content">
        <div class="row">
          <div class="col-12">
            <div class="card card-chart">
              <div class="card-header ">
                <div class="row">
                  <div class="col-sm-6 text-left">
                    
                    <h2 class="card-title">Mapa</h2>
                    
                  </div>
                  
                  
                </div>
              </div>
              <div class="card-body">
                <div class="chart-area">
                  <div id="map-template">

                  </div>
                  
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- <script>
          Swal.fire({
  title: 'Error!',
  text: 'Do you want to continue',
  icon: 'error',
  confirmButtonText: 'Cool'
})
        </script> -->
        <div class="row">
          <div class="col-lg-6 col-md-12">
            <div class="card card-tasks">
              <div class="card-header ">
                <h3 class="title d-inline">Pulsioximetro</h3>
              </div>
              <div class="card-body ">
                <div class="subtitle">
                  <h4>Ritmo cardíaco</h4>
                </div>
                <div class="container">
                  <div class="row justify-content-center align-self-center">
                      <div class="card">
                          <h1 id="ritmoCardiaco" class="display-1 p-4"></h1>
                      </div>
                  </div>
                </div>
                <div class="subtitle">
                  <h4>Saturación de oxígeno</h4>
                </div>
                <div class="container">
                  <div class="row justify-content-center align-self-center">
                      <div class="card">
                          <h1 id="saturacion" class="display-1 p-4"></h1>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card card-tasks">
              <div class="card-header ">
                <h3 class="title d-inline">Valores de angulo de piernas</h3>
                
              </div>
              <div class="card-body ">
                <div class="subtitle">
                  <h4>Valor grados pierna izquierda</h4>
                </div>
                <div class="container">
                  <div class="row justify-content-center align-self-center">
                      <div class="card">
                          <h1 id="potenciometroIzqGrados" class="display-1 p-4"></h1>
                      </div>
                  </div>
                </div>
                <div class="container">
                  <div class="subtitle">
                    <h4>Valor grados pierna derecha</h4>
                  </div>
                  <div class="row justify-content-center align-self-center">
                      <div class="card">
                          <h1 id="potenciometroDerGrados" class="display-1 p-4"></h1>
                      </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          

        </div>
      </div>